html {
    font-family: 'Patrick Hand', cursive;
    background: rgb(153,121,85);
    background: linear-gradient(177deg, rgba(153,121,85,1) 0%, rgba(102,19,49,1) 62%, rgba(84,26,112,1) 100%);
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 10% 5% 10%;
    padding-bottom: 30px;
    background-color: rgb(231, 214, 191);
    border-radius: 5px;
    -webkit-box-shadow: 6px 4px 14px 0px rgba(31,31,31,0.6);
    -moz-box-shadow: 6px 4px 14px 0px rgba(31,31,31,0.6);
    box-shadow: 6px 4px 14px 0px rgba(31, 31, 31, 0.6);
}

#game, #tutorial {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    margin-bottom: 10%;
}

#tutorial div {
    border: 5px dashed rgb(223, 165, 148);
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}

body h1 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(231, 214, 191);
    text-shadow: 3px 3px 0px #6d2c22, 
        6px 6px 0px #652a7c, 
        9px 9px 0px #052939, 
        12px 12px 0px #972743;
        /* for the cool text effect: https://freefrontend.com/css-text-effects/ */
}

#score, #highestScore {
    transition: all 0.3s;
}

#userScores {
    display: grid;
    width: 512px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#userScores * {
    background: rgb(207, 181, 145);
    border-radius: 5px;
    padding: 10px 0;
}

button {
    margin-top: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size: 150%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s;
    width: 512px;
    background-color:rgb(128, 67, 89);
}

button:hover {
    background-color: rgb(107, 56, 148);
    transform: scale(1.05);
    cursor: pointer;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    z-index: 100;
}

#tutorial {
    margin-top: 10%;
    font-family: 'Press Start 2P', cursive;
    color: rgb(221, 148, 126);
    line-height: 1.5;
}

#tutorial h2 span {
    color:rgb(231, 214, 191);
}